@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
    font-family: 'Dancing Script';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../dist/img/street-6099209_1920.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#content {
    height: 100%;
    width: 100%;
    padding: 10px;
    /* background-color: rgba(200, 200, 200, 0.8); */
}

.header {
    width: 100%;
    min-height: 150px;
    height: 20vh;
    background-color: rgba(58, 58, 58, 0.9);
}

.headerContent {
    height: 15vh;
    width: inherit;
    padding: 20px;
}

.logo {
    height: 15vh;
    background-image: url(../dist/img/Logo_850_125.png);
    background-repeat: no-repeat;
    background-size: 35%;
}

.navButtons {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: #fff;
}

.home,
.menu,
.contact {
    padding: 0 10px;
    font-size: 1.3rem;
    align-items: center;
}

.home:hover,
.menu:hover,
.contact:hover {
    cursor: pointer;
}


.active {
    border-bottom:3px solid rgb(255, 106, 0);
}

#main {
    width: 100%-4px;
    min-height: 400px;
    height: 60vh;
    border: 2px solid rgba(100, 100, 100, 0.8);
}

.homeContent {
    height: 100%;
    background-color: #fff;
}

.menuContent {
    height: 100%;
    background-color: rgba(231, 231, 231, 0.8);
    background-image: url(../dist/img/menu-3168414_1280.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: center;
}

.contactContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(231, 231, 231, 0.6);
    background-repeat: no-repeat;
    background-size: 50%;
}

.contactForm {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 90%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    background: rgba(232, 232, 232, 0.8);
}

h3 {
    font-size: 1.5rem;
    padding: 30px;
}

.submitContactForm {
    margin: 30px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(255, 123, 0);
    border-radius: 15px;
    box-shadow: 2px 2px 1px 2px gray;
}

label {
    margin-top: 20px;
}

input,
textarea {
    width: 300px;
}

.footer {
    display: flex;
    /* align-content: center; */
    
    justify-content: space-between;
    /* width: 100%-4px; */
    min-height: 100px;
    height: 18vh;
    background-color: rgba(58, 58, 58, 0.9);
}

.footerContent {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: top;
}


.address h3 {
    padding: 0;
}

.social,
.copyright {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social img {
    height: 50px;
    width: 50px;
}